* {
    margin: 0;
    padding: 0;
}

.home {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-image: url("../img/background-iimpact-arrive.jpeg");
    background-size: auto 100%;
    background-position: 25% 50%;
}

.home h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 6rem;
    margin-top: 8vh;
}

.home div span {
    font-size: 3rem;
}

.home div i {
    font-size: 2.5rem;
}

.social-medias {
    display: flex;
    height: 25vh;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 8vh;
    color: white
}

.social-medias img {
    width: 20%;
    margin: 5vh auto 0 auto
}

.social-medias div {
    margin: 1rem 0;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a span {
    margin-left: 1rem;
}

h2 {
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-bottom: 3rem;
}

@media (min-width: 677px) {
    .home{
        background-size: cover;
    }
    .social-medias {
        flex-direction: row !important;
        justify-content: normal;
        height: 10vh;
        font-size: 1rem ;
    }

    h2 {
        display: none;
    }

    .social-medias {
        margin: auto 1rem 1rem 1rem;
        height: 10vh;
        font-size: 1rem;
        align-items: center;
    }

    .social-medias div {
        margin: 0 1rem;
        display: flex;
    }

    .social-medias img {
        width: 4rem;
        margin: 0 0 0 auto;
    }

    .home div span, .home div i {
        font-size: 1.5rem;
        margin: 0;
    }
}

@media (min-width: 530px) and (max-width: 1024px) {
    .social-medias {
        align-items: center;
        height: 10%;
    }

    .home div span, .home div i {
        font-size: 1.5rem;
        margin: 0;
    }

    .home div i {
        margin-right: 0.3rem;
    }
}