* {
    margin: 0;
    padding: 0;
}

.home {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-image: url("../img/background-iimpact-arrive.jpeg");
    background-size: auto 100%;
    background-position: 25% 50%;
}

.home h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 6rem;
    margin-top: 8vh;
}


@media screen and (min-width: 768px){
    .home {
        background-size: cover;
    }
}